{% extends "layouts/base.html" %}

{% block content %}

<h2>Add Employee</h2>

<div class="card">

    <div class="card-body">

        <form
            method="post"
            action="/employees/add"
        >

            <div class="row">

                <div class="col-md-3">
                    <input
                        name="name"
                        class="form-control"
                        placeholder="Name"
                        required
                    >
                </div>

                <div class="col-md-3">
                    <input
                        name="designation"
                        class="form-control"
                        placeholder="Designation"
                    >
                </div>

                <div class="col-md-3">
                    <input
                        name="phone_number"
                        class="form-control"
                        placeholder="Number"
                        required
                    >
                </div>

                <div class="col-md-3">
                    <input
                        name="whatsapp_name"
                        class="form-control"
                        placeholder="Username"
                    >
                </div>

            </div>

            <button
                class="btn btn-primary mt-3"
                type="submit"
            >
                Save Employee
            </button>

        </form>

    </div>

</div>

{% endblock %}