<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">

        <a class="navbar-brand fw-bold" href="/">
            AIC Worklog Management System
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div
            class="collapse navbar-collapse"
            id="navbarContent"
        >
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Today's Updates
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/tasks">
                        Tasks
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/settings">
                        Settings
                    </a>
                </li>

            </ul>
        </div>

    </div>
</nav>